@font-face {
  font-family: 'Work Sans';
  font-style: bold;
  font-weight: 700;
  src: url('./WorkSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Work Sans';
  font-style: regular;
  font-weight: 400;
  src: url('./WorkSans-Regular.ttf') format('ttf');
}

body {
  font-family: Arial, sans-serif;
  background-image: url('./bg.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh;
}


.main-container {
  width: 100vw; 
  height: 100vh;
  background-image: url('./bg.png');
  background-size:cover; 
  background-repeat: no-repeat; 
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.right-side {
  text-align: center;

}

.image-example {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  
}


.main-text{
  font-family: 'Tenor Sans', sans-serif;  
  font-size: 60px;
  margin: 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.text-h2{
    font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 20px;
  color: #fff;
}

.text-main{
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.start-button-con{
  display: grid;
  place-items: center;
}

.start-button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #D9D9D9;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-button:hover {
  background-color: #2bfefe;
  transform: scale(1.05);
}


