/* Styles for the outer container */

body {
  font-family: Arial, sans-serif;
  background-image: url('../Main/bg.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh;
}


.outer-container {
  width: 100vw; 
  height: 100vh;
  background-image: url('../Main/bg.png');
  background-size:cover; 
  background-repeat: no-repeat; 
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: grid;
  place-items: center;
}

  
  /* Styles for the inner container */
  .inner-container {
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  /* Styles for the heading */
  .inner-container h2 {
    color: #0066FF;
    font-size: 24px;
    margin: 10px 0;
  }
  
  /* Styles for the loading image */
  .inner-container img {
    max-width: 60%;
    height: auto;
    margin: 5px auto;
  }
  
  /* Styles for the paragraphs */
  .inner-container p {
    color: #333333;
    font-size: 16px;
    margin: 5px 0;
  }
  
  /* Styles for the button */
  .inner-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #0066FF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-left: 0;
  }
  
  /* Hover effect for the button */
  .inner-container button:hover {
    background-color: #0055CC;
  }
  
  /* Optional: Media query for responsiveness */
  @media (max-width: 600px) {
    .inner-container {
      max-width: 90%;
      
    }
  }
  